.main-carousel{
  border-radius: 5px;
  overflow: hidden;
}
.flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background:#fed80079 ;
    color: rgba(255, 255, 255, 0.8);
    transition: color .3s,background .3s;
}
.flickity-prev-next-button.next{
  right: 10px;
  border-radius: 25px;
}
.flickity-prev-next-button.previous{
  left:10px;
  border-radius:25px;
}
.flickity-prev-next-button:hover {
    color: white;
    background:#fed700 ;
    /* background: transparent; */
}
.flickity-prev-next-button:disabled {
    display: none;
}
.carousel {
    background: #EEE;
}
  /*  */
  
  /* carousel-cell tại trang chủ */
  .carousel-cell {
    /* background: #8C8; */
    border-radius: 5px;

  }
  /* carousel-cell tại trang chi tiết */
  .item-img-info.carousel-cell{
    
    
    /* background: #8C8; */
    border-radius: 5px;
    border: 1px solid #cecece;
    
  }
  .item-img-info.carousel-cell img{
    
    
    /* background: #8C8; */
    border-radius: 5px;

    
  }
  .item-img-info-mini.carousel-cell{
    
    width:96% !important;
    /* background: #8C8; */
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-right: 2%;
    margin-left: 2%;
    
  }
  .item-img-info-mini.carousel-cell img{
     
    
    border-radius: 5px;
    
  }
  
  .carousel-cell.is-selected {
    /* background: #ED2; */
  }
  
  /* cell number */
  /* .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  } */
  .carousel-main{
    background-color: transparent;
    border: 1px solid #cecece;
    border-radius: 5px;
    margin-bottom:10px;
    
  }
  .carousel.carousel-nav{
    background-color: transparent;
  }
  .carousel-nav .carousel-cell{
    width: 31%;
    margin-right: 5px;
    border: 1px solid #cecece;
  }
  /*custom css cua banner */
  .banner .carousel-cell{
    width: 100%;
    height: 520px;
  }
  .items .carousel-cell{
    width:19%;
  }
  .banner .flickity-page-dots{
    bottom:8px;
  }
  .banner .dot{
    background-color: var(--yellow-main);
}


/* SLICK FRAMEWORK */
.slick-next,.slick-prev{
  width: 30px;
  z-index: 999;
}
.slick-prev{
  left: -13px;
}
.slick-next{
  right: -13px;
}

.slick-next:before,.slick-prev:before{
  color: var(--yellow-main);
  font-size: 30px;
}

.banner .slick-prev{
  left: 2px;
}
.banner .slick-next{
  right: 2px;
}

.banner .slick-dots{
  bottom: 20px;
}
.slick-dots li button:before{
  color:var(--yellow-main);
  font-size:15px;
}

.slick-dots li.slick-active button:before{
  color:var(--yellow-main);
  font-size:20px;
}

.product-info__left-wrapper.slick-slider:first-child{
  margin-bottom: 10px;
}